.header {
  box-sizing: border-box;
}

.header_inner {
  background: var(--preview-background);
}

.header__title {
  font-family: 'Inter', serif;
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 64px;
  color: var(--black);
  margin: 40px 0;
}

@media screen and (max-width: 768px) {
  .header {
    padding-top: 0;
  }
  
  .header__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 38px;
    margin: 32px 0;
  }
}