.tabs__menu {
  padding: 0;
  margin: 0;
  display: flex;
  list-style: none;
  margin-bottom: 5px;
}

.tabs__input {
  position: absolute;
  outline: none;
  clip: rect(0, 0, 0, 0);
}

.tabs__item {
  position: relative;
  color: var(--grey-3);
  display: inline-flex;
  white-space: nowrap;
}

.tabs__label {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--grey-3);
  margin-bottom: 8px; 
  cursor: pointer;  
}

.tabs__label:after {
  position: absolute;
  content: '';
  height: 5px;
  width: 100%;
  background-color: var(--black);
  top: 100%;
  transform-origin: left;
  display: block;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

.tabs__item:not(:last-child) {
  margin-right: 40px;
}

.tabs__delimiter {
  height: 1px;
  background: var(--grey-2);
}

.tabs__content {
  padding: 4rem 0;
  background: var(--preview-background);
}

.tabs__code-wrapper {
  margin: 0;
}

.tabs__code-wrapper .tabs__code {
  background: var(--white);
  padding: 0;
}

.tabs__content_all,
.tabs__content_simple,
.tabs__content_complex,
.tabs__content_html,
.tabs__content_css {
  display: none;
}

.tabs__label:hover {
  color: var(--black);
}

.tabs__nav_component-page {
  padding-left: 48px;
}

.tabs__content_html,
.tabs__content_css {
  padding: 50px 48px 64px 48px;
  background: var(--white);
}

.tabs__input[id='all-tab']:checked  ~ .tabs__nav .tabs__label[for='all-tab'],
.tabs__input[id='simple-tab']:checked ~ .tabs__nav .tabs__label[for='simple-tab'],
.tabs__input[id='complex-tab']:checked ~ .tabs__nav .tabs__label[for='complex-tab'],
.tabs__input[id='html-tab']:checked  ~ .tabs__nav .tabs__label[for='html-tab'],
.tabs__input[id='css-tab']:checked ~ .tabs__nav .tabs__label[for='css-tab'] {
  color: var(--black);
}

.tabs__label:hover::after,
.tabs__input[id='all-tab']:checked  ~ .tabs__nav .tabs__label[for='all-tab']::after,
.tabs__input[id='simple-tab']:checked ~ .tabs__nav .tabs__label[for='simple-tab']::after,
.tabs__input[id='complex-tab']:checked ~ .tabs__nav .tabs__label[for='complex-tab']::after,
.tabs__input[id='html-tab']:checked  ~ .tabs__nav .tabs__label[for='html-tab']::after,
.tabs__input[id='css-tab']:checked ~ .tabs__nav .tabs__label[for='css-tab']::after {
  transform: scaleX(1); 
  color: var(--black);
}

.tabs__input[id='all-tab']:checked ~ .tabs__content_all,
.tabs__input[id='complex-tab']:checked ~ .tabs__content_simple,
.tabs__input[id='simple-tab']:checked ~ .tabs__content_complex,
.tabs__input[id='html-tab']:checked ~ .tabs__content_html,
.tabs__input[id='css-tab']:checked ~ .tabs__content_css {
  display: block;
}

@media screen and (max-width: 768px) {
  .tabs__nav_component-page {
    padding-left: 0px;
  }

  .tabs__content {
    padding: 2rem 0;
  }

  .tabs__content_html,
  .tabs__content_css {
    padding: 25px 24px 32px 16px;
    background: var(--white);
  }

  .tabs__item:not(:last-child) {
    margin-right: 24px;
  }
  
  .tabs__code {
    font-weight: 300;
    font-size: 10px;
    line-height: 12px;
  }
}