.card {
  width: 350px;
  height: 367px;
  background: var(--white);
  box-shadow: 0px 2px 4px rgba(33, 36, 41, 0.05);
  border-radius: 12px;
}

@media screen and (max-width: 768px){
  .card {
    width: 164px;
    height: 210px;
  }
}