.checkbox {
  display: inline-block;
  position: relative;
}

.checkbox__input {
  position: absolute;
  outline: none;
  clip: rect(0, 0, 0, 0);
}

.checkbox__state {
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
}

.checkbox__control {
  box-sizing: border-box;
  width: 28px;
  height: 28px;
  background: var(--main-bg);
  border: 1px solid var(--grey-2);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkbox__icon {
  width: 15px;
  height: 13px; 
  display: none;
  color:var(--primary);
}

.checkbox__title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--text-quaternary);
}

.checkbox__input:checked ~ .checkbox__state .checkbox__control {
  background: var(--primary);
  border-color: var(--primary);
  animation: pulse 0.5s;
}

.checkbox__input:checked ~ .checkbox__state .checkbox__icon {
  display: block;
}

.checkbox__input:focus ~ .checkbox__state .checkbox__title {
  text-decoration: underline;
}

.checkbox__input:disabled ~.checkbox__state {
  pointer-events: none;
}

.checkbox__input:disabled ~ .checkbox__state .checkbox__control {
  border: var(--disabled-form-element);
  background: var(--disabled-form-element);
}

.checkbox__input:disabled ~ .checkbox__state .checkbox__title {
  color: var(--disabled-form-element);
}

@media screen and (max-width: 768px) {
  .checkbox__state {
    gap: 6px;
  }
  
  .checkbox__control {
    width: 20px;
    height: 20px;
  }

  .checkbox__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 12px;
    color: var(--text-quaternary);
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #bdc3c7;
  }
  100% {
    box-shadow: 0 0 0 1.5rem rgba(189, 195, 199, 0);
  }
}