.skeleton {
  background: var(--white);
  border: 1px solid var(--grey-3);
  border-radius: 8px;
  padding: 24px 40px 24px 24px;
  box-sizing: border-box;
  --gradient: linear-gradient(
    92.51deg,
    #dde2e5 6.44%,
    #e2e6e8 38.47%,
    #f3f5f5 56.48%,
    #e3e7ea 77.5%,
    #dde2e5 102.52%
  );    
}

.skeleton__header {
  display: flex;
  margin-bottom: 24px;
  column-gap: 16px;
}

.skeleton__avatar {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background: var(--gradient);
  animation:  backgroundMovement infinite 1.5s linear forwards;
  background-size: 200%;
}

 .skeleton__info {
  flex: 1;
} 

.skeleton__line {
  height: 20px;
  margin-top: 8px;
  margin-bottom: 8px;
  background: var(--gradient);
  animation:  backgroundMovement infinite 1.5s linear forwards;
  background-size: 200%;
}

.skeleton__line_small {
  width: 39.74%;
}

.skeleton__line_medium {
  width: 59.4%;
}

@keyframes backgroundMovement {
  0% {
    background-position: 100%;
  }

  100% {
    background-position: -100%;
  }
}