.navbar {
  display: flex;
  height: 32px;
  margin-top: 24px;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.navbar__mobile-menu-trigger {
  border: none;
  background-color: inherit;
  display: none;
  content: '';
  width: 24px;
  height: 24px;
  left: 0%;
  top: 50%;
  position: absolute;
  transform: translate(0%, -50%);
}

.icon-burger-menu-trigger {
  position: absolute;
  width: 24px;
  height: 24px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.navbar__logo {
  display: flex;
  flex-grow: 1;
}

.navbar__logo-square {
  width: 32px;
  height: 32px;
  background: var(--text-primary);
  margin-right: 8px;
}

.navbar__logo-circle {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: var(--text-primary);
  margin-right: 8px;
}

.navbar__logo-triangle {
  width: 0;
  height: 0;
  border-bottom: 32px solid var(--text-primary);
  border-right: 32px solid transparent;
}

.navbar__links {
  margin-top: 8px;
}

.navbar__link {
  text-decoration: none;
  font-family:'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--text-secondary);
}

.navbar__link.navbar__link-active {
  color: var(--text-primary);
}

.navbar__link:not(:last-child) {
  margin-right: 24px;
}

.navbar__link:last-child {
  margin-right: 92px;
}

.navbar__theme-changer {
  margin-top: 8px;
  margin-right: 38px;
}

.navbar_burger-menu {
  position: relative;
}

@media screen and (max-width: 768px) {
  .navbar {
    height: 64px;
    margin-top: 0;
    justify-content: center;
  }

  .navbar__mobile-menu-trigger {
    display: inline-block;
  }

  .navbar__logo {
    flex-grow: unset;
  }

  .navbar__links,
  .navbar .navbar__theme-changer {
    display: none;
  }
}