.navbar {
  display: flex;
  align-items: center;
  height: 64px;
}

.navbar__logo {
  display: flex;
}

.navbar__logo-square {
  width: 32px;
  height: 32px;
  background: var(--black);
  margin-right: 8px;
}

.navbar__logo-circle {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: var(--black);
  margin-right: 8px;
}

.navbar__logo-triangle {
  width: 0;
  height: 0;
  border-bottom: 32px solid var(--black);
  border-right: 32px solid transparent;
}

.burger-menu_navbar {
  position: relative;
}

@media screen and (max-width: 768px) {
  .navbar {
    justify-content: center;
  }
}