.navbar {
  display: flex;
  height: 32px;
  margin-top: 24px;
}

.navbar__logo {
  display: inline-flex;
}

.navbar__logo-square {
  width: 32px;
  height: 32px;
  background: var(--black);
  margin-right: 8px;
}

.navbar__logo-circle {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: var(--black);
  margin-right: 8px;
}

.navbar__logo-triangle {
  width: 0;
  height: 0;
  border-bottom: 32px solid var(--black);
  border-right: 32px solid transparent;
}

@media screen and (max-width: 768px) {
  .navbar {
    height: 64px;
    margin-top: 0;
    align-items: center;
    justify-content: center;
  }
}