.histogram {
  background: var(--white);
  border: 1px solid var(--grey-3);
  border-radius: 8px;
  box-sizing: border-box;
  padding: 16px 24px 24px 24px;
  --max-column-height: 50px;
}

.histogram__header {
  display: flex;
  justify-content: space-between;
}

.histogram__title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--black);
  opacity: 0.8;
  margin: 0;
}

.histogram__link {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--blue);
  margin-top: 3px;
}

.histogram__total {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: var(--black);
  margin: 6px 0 39px 0;
}

.histogram__column-chart {
  display: flex;
  align-items: flex-end;
  height: var(--max-column-height);
  padding-left: 1px;
  animation: column-grow 350ms ease-out;
}

.histogram__column {
  flex-basis: 9px;
  margin-left: 1px;
  background-color: var(--blue);
}

@keyframes column-grow {
  0% {
    transform: scaleY(0);
    transform-origin: bottom;
  }
  100% {
    transform: scaleY(1);
    transform-origin: bottom;
  }
}