.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.page__main {
  background: var(--preview-background);
  flex-grow: 1;
}

.page__content {
  margin-bottom: 56px;
  padding-top: 32px;
  flex-grow: 1;
  max-width: 100%;
}

@media screen and (max-width: 768px) {
  .page__content {
    margin-bottom: 0;
    padding: 32px 0 0 0;
  }
}