.page {
  display: grid;
  height: 100%;
  grid-template-rows: auto 1fr auto;
}

.page__main {
  background: var(--preview-background);
}

.page__content {
  background: var(--white);
  margin-bottom: 92px;
  padding: 32px 48px 0 48px;
}

@media screen and (max-width: 768px) {
  .page__content {
    margin-bottom: 0;
    padding: 32px 16px 0 16px;
  }
}