.footer {
  text-align: center;
  box-sizing: border-box;
  font-family: 'Inter';
  font-style: normal;
  padding-top: 72px;
  background: var(--main-bg);
}

.footer_inner {
  padding-bottom: 56px;
  padding-top: 0px;
  background: var(--preview-background);
}

.footer__title{
  font-weight: 500;
  font-size: 38px;
  line-height: 48px;
  color: var(--text-primary);
  margin: 0 0 32px 0;
  box-sizing: border-box;
}

.footer__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--text-primary);
  margin: 0 auto;
  word-wrap: break-word;
  box-sizing: border-box;
  max-width: 640px;
}

.footer__inner-text {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--text-secondary);
  text-align: center;
  margin: 0 auto;
}