.component {
  padding: 0 48px;
  margin-bottom: 64px;
}

.component__title {
  margin-bottom: 24px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 38px;
  color: var(--text-quaternary);
}

@media screen and (max-width: 768px) {
  .component {
    padding: 0 16px;
    margin-bottom: 24px;
  }

  .component__title {
    line-height: 26px;
    margin-bottom: 20px;
  }
}