.modal {
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    min-height: 100%;
    background-color: rgba(196, 196, 196, 0.5);
    z-index: 9999; 
  }
  
  .modal__window {
    position: fixed;    
    box-sizing: border-box;
    background: var(--main-bg); 
    border-radius: 8px;
    padding: 12px 12px 33px 40px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Inter';
    font-style: normal;
  }
  
  .modal__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 14px;
  }
  
  .modal__close {
    width: 24px;
    height: 24px;
    color: var(--text-quaternary);
  }
  
  .modal__title {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: var(--calendar-primary);
    margin-top: 18px;
  }
  
  .modal__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--text-quaternary);
    margin-right: 28px;
  }

  .modal_preview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: static;
    pointer-events: none;
  }

  .modal_preview .modal__window {
    position: static;
    pointer-events: none;
    scale: 0.9;
    padding: 15px;
    transform: none;
  }

  @media screen and (max-width: 768px) {
    .modal_preview {
      border-radius: 12px 12px 0 0;
    }
  }