.page__header {
  padding: 0;
  height: 82px;
}

.page__main {
  background: var(--preview-background);
}

.page__inner_container {
  display: grid;
  grid-template-columns: auto 1fr;
  box-sizing: border-box;
  column-gap: 56px;
  height: 100%;
  padding-top: 36px;
}

.page__footer {
  background: var(--preview-background);
  padding-bottom: 56px;
}

.page__footer__body {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--grey-3);
  text-align: center;
  margin: 0;
}

.page__content {
  margin-bottom: 92px;
}