.content {
  background: var(--main-bg);
  box-shadow: 0px 2px 4px rgba(33, 36, 41, 0.05);
  border-radius: 12px;
  box-sizing: border-box;
}

.content__nav {
  padding-left: 48px;
}

@media screen and (max-width: 768px) {
  .content__nav {
    padding-left: 0px;
  }
}