.preview {
  flex-grow: 1;
}

.preview__cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 30px;
}

@media screen and (max-width: 768px) {
  .preview {
    padding-top: 23px;
  }

  .preview__cards {
    gap: 23px 16px;
  }
}