.preview {
  background-color: var(--preview-background);
  padding-top: 68px;
  padding-bottom: 204px;
}

.preview-cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-content: space-between;
  gap: 30px;
}